
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.active {
  border-top: 3px solid #ACFD2F;
  border-radius: 10px;
  width: 20%;
  margin: 0 auto;

}
/* /General */


/* Utilities */
.debug {
  background-color: #c15f5f4d;
  border: 1px solid black ;
}

.container {
width: 100%;
margin: 0 auto;
}

.d-flex {
  display: flex;
}
/* /Utilities */

/* Side menu */
.side-menu .container-side{
  position: fixed;
  top: 0 ;
  left: 0;
  z-index: 10;
  height: calc(100vh - 90px);
  width: 220px;
  padding-bottom: 120px;
  /* debug */
  color: white;
  background-color: black;
}

.side-menu-small .container-side-small {
  position: fixed;
  top: 0 ;
  left: 0;
  z-index: 10;
  height: calc(100vh - 90px);
  width: 50px;
  padding-bottom: 120px;

  display: none;
  /* debug */
  color: white;
  background-color: black;
}

/* /Side menu */

/* Header */

header {
  background-color: #090b13fb;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
}

header .container {
  justify-content: flex-end; 
  padding: 5px;
  
}



.upgrade-btn a {
  text-decoration: none;
  color: white;  
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 30px;
}
/* /Header */


/* Main */
main {
  background-color: #141922;
  padding-top: 100px;
  padding-left: 240px;
  padding-bottom: 100px;
  
}

main .menu-playlist {
  width: fit-content;
  margin: 0 auto;
}


main nav ul{
  flex-wrap: wrap;
  list-style: none;
}
main nav ul li{
  margin-bottom: 20px;
}

main nav ul li a {
  text-decoration: none;
  margin: 20px;
  color: #7E8084;
  font-weight: bold;
  
}

main .container-row {
  margin-right: 20px;
}

main .row {
  flex-wrap: wrap;
}

main .row .col {
  padding: 5px;
  width: calc(100% / 6);
  min-width: 120px;

}

main .row .col .card {
  text-align: center;
  margin-bottom: 20px;
}

main .row .col .card img {
  width: 100%;

}
main .row .col .card .img{
  position: relative;
}


main .row:last-child .col .card .img{
  border-radius: 50%;
  overflow: hidden;
}

main .row .col .card .play-hover {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #141922bb;
  font-size: 50px;
  color: white;
  display: none;
}

main .row .col .card:hover .play-hover{
  display: inline-flex;
}

main .row .col .card .title {
  display: block;
  color: white;
  font-weight: bold;
}

main .row .col .card .subtitle {
  display: block;
  color: #7E8084;
}


main .playlist-name {
  margin: 30px 0;
  color: white;
}
/* /Main */


/* Playbar */

.playbar  {
  position: fixed;
  z-index:20 ;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
}
.playbar .container {
  justify-content: space-between;
  height: 100px;
}
.song {

  /* debug */
  height: 100%;
  width: 150px;
  background-color: rgba(245, 245, 220, 0.389);
}

.add {
  height: 100%;
  width: 50px;
  background-color: rgba(245, 245, 220, 0.491);

}

.controls {
  height: 100%;
  width: 500px;
  background-color: rgba(245, 245, 220, 0.492);
}

.volume {
  width: 200px;
  height: 100%;
  background-color: rgba(245, 245, 220, 0.617);

}

@media screen and (max-width:1100px){
  

  main .row .col {
    width: 25%;
  }


}

@media screen and (max-width:700px){

  main .row .col{
    width: calc(100% / 2);
    min-width: 150px;
  }


}



@media  screen and (max-width:600px){
  .side-menu .container-side {
    display: none;
  }

  .side-menu-small .container-side-small {
    display: block;
  } 
  main {
    padding-left: 60px;
  }
}





