
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.active {
  border-top: 3px solid #ACFD2F;
  border-radius: 10px;
  width: 20%;
  margin: 0 auto;

}
/* /General */


/* Utilities */
.debug {
  background-color: #c15f5f4d;
  border: 1px solid black ;
}

.container {
width: 100%;
margin: 0 auto;
}

.d-flex {
  display: flex;
}
/* /Utilities */

/* Side menu */
.side-menu .container-side{
  position: fixed;
  top: 0 ;
  left: 0;
  z-index: 10;
  height: calc(100vh - 90px);
  width: 220px;
  padding-bottom: 120px;
  /* debug */
  color: white;
  background-color: black;
}

.side-menu-small .container-side-small {
  position: fixed;
  top: 0 ;
  left: 0;
  z-index: 10;
  height: calc(100vh - 90px);
  width: 50px;
  padding-bottom: 120px;

  display: none;
  /* debug */
  color: white;
  background-color: black;
}

/* /Side menu */

/* Header */

header {
  background-color: #090b13fb;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 5;
  height: 90px;
  width: 100%;
}

header .container {
  justify-content: flex-end; 
  padding: 5px;
  
}



.upgrade-btn a {
  text-decoration: none;
  color: white;  
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 30px;
}
/* /Header */


/* Main */
main {
  background-color: #141922;
  padding-top: 100px;
  padding-left: 240px;
  padding-bottom: 100px;
  
}

main .menu-playlist {
  width: fit-content;
  margin: 0 auto;
}


main nav ul{
  flex-wrap: wrap;
  list-style: none;
}
main nav ul li{
  margin-bottom: 20px;
}

main nav ul li a {
  text-decoration: none;
  margin: 20px;
  color: #7E8084;
  font-weight: bold;
  
}

main .container-row {
  margin-right: 20px;
}

main .row {
  flex-wrap: wrap;
}

main .row .col {
  padding: 5px;
  width: calc(100% / 6);
  min-width: 120px;

}

main .row .col .card {
  text-align: center;
  margin-bottom: 20px;
}

main .row .col .card img {
  width: 100%;

}
main .row .col .card .img{
  position: relative;
}


main .row:last-child .col .card .img{
  border-radius: 50%;
  overflow: hidden;
}

main .row .col .card .play-hover {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #141922bb;
  font-size: 50px;
  color: white;
  display: none;
}

main .row .col .card:hover .play-hover{
  display: inline-flex;
}

main .row .col .card .title {
  display: block;
  color: white;
  font-weight: bold;
}

main .row .col .card .subtitle {
  display: block;
  color: #7E8084;
}


main .playlist-name {
  margin: 30px 0;
  color: white;
}
/* /Main */


/* Playbar */

.playbar  {
  position: fixed;
  z-index:20 ;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
}
.playbar .container {
  background-color: #282828;
  color: #7E8084;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}



.song {
  height: 100%;
  width: 170px;
}

.song .container-song img{
  height: 50px;
  margin-left: 10px;
}

.song .container-song .song-data {
  margin-left: 10px;
  align-items: center;
}

.song .container-song .title {
  color: white;
  display: block;
}

.add {
  height: 100%;
  width: 50px;
  margin-top: 10px;
}

.add .favourite {
  margin-right: 10px;
}

.controls {
  height: 100%;
  min-width: 320px;
  width: 700px;
  color: white;
  margin: 0 20px;
}

.controls .control-panel{
  width: 300px;
  margin: 0 auto;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.controls .control-panel div i{
  font-size: 1.3rem;
}

.controls .control-panel div i.fa-circle-play {
  font-size: 40px;
}


.minute-bar .bar{
  width: 90%;
  margin: 0 auto;
  height: 3px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #5B5B5B;
}

.minute-bar .bar .cursor {
  position: relative;
  width: 20%;
  height: 100%;
  background-color: #C3C3C3 ;
}

.minute-bar .bar .cursor i {
  position: absolute;
  top: -0.5rem;
  right: 0;
  display: none;
}

.minute-bar .bar:hover .cursor i {
  display: block;
}

.minute-bar .bar:hover .cursor {
  background-color: #ACFD2F;

}

.minute-bar:before {
  content: '0.25';
  font-size: 0.8rem;
  display: inline;
  margin-right: 20px;
}
.minute-bar:after {
  content: '4.35';
  font-size: 0.8rem;
  display: inline;
  margin-left: 20px;
}

.volume{
  align-items: center;

  color: white;
  width: 350px;
  height: 100%;

}

.volume div {
  margin-left: 10px;
}

.volume-bar{
  height: 3px;
  width: 200px;
  margin-right: 10px;
  background-color: #5B5B5B;
}

.volume-bar .cursor {
  width: 20%;
  height: 100%;
  background-color: #95979a;
  margin-left: 0;
}

@media screen and (max-width:1100px){
  

  main .row .col {
    width: 25%;
  }
  .add {
    display: block;
    text-align: center;
  }

  .add .favourite {
   margin-right: 0;
   margin-top: 0;

  }
}

@media screen and (max-width:700px){

  main .row .col{
    width: calc(100% / 2);
    min-width: 150px;
  }


}



@media  screen and (max-width:600px){
  .side-menu .container-side {
    display: none;
  }

  .side-menu-small .container-side-small {
    display: block;
  } 
  main {
    padding-left: 60px;
  }

}





